fastapi==0.104.1
uvicorn[standard]==0.24.0
httpx==0.25.2
PyJWT==2.8.0
bcrypt==4.1.2
python-multipart==0.0.6
aiofiles==23.2.1
openai==1.6.1
requests==2.31.0
PyYAML==6.0.1
pydantic==2.5.2
networkx==3.2.1
numpy==1.26.2
sse-starlette==1.6.5
torch==2.1.2
uuid6==2023.5.2
transformers==4.36.2
chromadb==0.4.18
sentence-transformers==2.2.2
